<section class="row align-items-center">
  <div class="col-md-6">
    <img class="img-fluid" src="/img/about.svg" alt="" srcset="" />
  </div>
  <article class="text-center col-md-6">
    <h1>Eu sou</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda,
      delectus id. Provident fuga debitis sint deleniti. Libero commodi nihil
      delectus excepturi asperiores beatae illo quidem cumque aperiam non,
      voluptates distinctio.
    </p>
  </article>
</section>
